.--ButtonAnimated {
    text-align: center;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.--ButtonAnimated:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }